.Topbar {
  background-color: rgb(28, 28, 66);
  background-image: url("../../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  color: #fff;
  padding-top: 20vh;
}
.Topbar img {
  width:170px;
}
